@charset "utf-8";

/* login.css */
.login_wrap{
  width:500px;
  height:500px;
  background-color: rgb(206, 213, 224);
  margin:auto;
  position:absolute;
  top:50%;left:50%;
  transform:translate(-50%,-50%);
}
#login fieldset{
  width:400px;
  height:400px;
  margin:auto;
  background-color: rgb(206, 213, 224);
  border:none;
  /* border:1px solid red; */

  text-align: center;
  position:relative;
  top: 10%;
}
#login legend{display: none;}
#login fieldset > a{
  position:absolute;
  left:50%; top:30px;
  transform:translateX(-50%);
}
#login p{line-height:60px;}
#login p:first-of-type{padding-top:80px;}
#login p:first-of-type label{display: none;}
#login p:nth-of-type(2) label{display: none;}
#id_txt, #pw_txt{
  width:100%;
  height:50px;
  border: none;
}
#id_save, #id_save+label{
  float:left;
  font-size:14px;
}
#login_btn{
  display:block;
  width:100%;
  height:50px;
  border:none;
  background-color: rgb(47, 47, 163);
  margin-top:50px;
  font-size:14px;
  color:#fff;
}
#login p:last-of-type{
  position:absolute;
  bottom:30px;
}
#login p:last-of-type a{
  color:#333;
  text-decoration: none;
  font-size:14px;
  display: inline-block;
  border-right:1px solid #333;
  padding:0px 25px;
}
#login p:last-of-type a:last-child{border:none;}